html {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(75, 52, 27);
}
body {
    width: 1500px;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
}
p,
li,
strong,
em {
    color: #a38259;
    margin: 0 auto;
}
h1 {
    background: linear-gradient(90deg, #a38259 50%, #4f402b 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
}